*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background-color: #223143;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    top: 0;
}
header h1{
    color: #F9B366;
    font-size: 3.8vh;
    padding: 0.5vh 2vh;
    display: flex;
    flex-direction: column;
}
 header  h1  p:nth-child(1){
    flex: 1;
    padding: 0vh 3vh;
    text-align: center;
}
 header  h1  p:nth-child(2){
    flex: 1;
    padding: 0vh 3vh;
}
.menu-nav{
    flex: 1;
}
.menu-nav ul {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
}
.menu-nav ul li{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}
.menu-nav ul li a{
    padding: 4vh 0vh;
    color: #F9B366;
    cursor: pointer;
}
#menu ul li:hover{
    cursor: pointer;
    }
    #menu ul li:hover a{
    color: white;
        }
body{
    background-color: #F4F4F4;

}
footer{
    background-color: #223143;
}
#slider{
    max-width: 2000px;
    width: 100%;
    height: 80vh;
    margin-top: 12vh;
}
#slider img{
    width: 100%;
    height:100%;
}
#cajas{
    max-width: 2000px;
    padding: 10px;
    background-color: #223143;
}
.caja{
    display: block;
    width: 400px;
    height: 250px;
    background-color: #223143;
    border: 5px solid #F9B366;
    margin-left: 30px;
    margin-right: 0px;
    padding: 20px;
    padding-bottom: 34px;
    float: left;
    color: white;
}
#habilidades{
    max-width: 2000px;
    background-color: white;
    border: 0px solid pink;
    padding: 25px;
}
.bar{
    display: block;
    float: left;
    width: 45%;
    /*border: 1px solid #F9B366;*/
    padding: 10px;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 15px;
}
.w3-container,.w3-panel {
     padding:0px; 
}
.w3-grey,.w3-hover-grey:hover,.w3-gray,.w3-hover-gray:hover {
    color: #000!important;
    background-color: #F9B366!important
}
.clearfix{
    float: none;
    clear: both;
}
#myProgress {
  width: 100%;
  background-color: #223143;
}

.myBar {
  width: 1%;
  height: 30px;
  background-color: #F9B366;
}
#experiencias{
    background-color: yellow;
}
#contacto{
    background-color: white;
}
#contacto h2{
    background-color: white;
    text-align: center;
    font-weight: bold;
    color:#223143
}
.demo-section{
    background-color: white;
    padding: 4vh 0vh;
    text-align: center;
}
.demo-section a{
    background-color: #223143;
    text-align: center;
    font-weight: bold;
    color:#F9B366;
    padding: 3vh 6vh;
}
.menu-toggle {
  display: none;
	position: absolute;
	top: 1vh;
	left: 1vh;
	width: 9vh;
	height: 9vh;
	border-radius: 99px;
	cursor: pointer;
}
.menu-toggle-close{
    display: none;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #2e3047;
    cursor: pointer;
    /*margin-bottom: 1rem;*/
    left: 14rem;
	top: 0.7rem;
}
.hamburger {
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
}
.hamburger-close{
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #f9b366;
  transition-duration: .25s;
}


.hamburger-close > span,
.hamburger-close > span::before,
.hamburger-close > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #FFF;
  transition-duration: .25s;
}

.hamburger > span::before {
  content: '';
  top: -8px;
}
.hamburger > span::after {
  content: '';
  top: 8px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.hamburger-close > span::before {
    content: '';
    top: -8px;
  }
  .hamburger-close > span::after {
    content: '';
    top: 8px;
  }
  .menu-toggle-close.is-active .hamburger-close > span {
    transform: rotate(45deg);
  }
  .menu-toggle-close.is-active .hamburger-close > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  .menu-toggle-close.is-active .hamburger-close > span::after {
    top: 0;
    transform: rotate(90deg);
  }

@media screen and (max-width: 600px) {
  html, body {
    overflow-x: hidden;
    }
    .menu-toggle {
        display: block;
    }
    header{
        flex-direction: column;
    }
    header h1{
      text-align: center;
      font-size: 2.9vh;
  }
  #slider{
    margin-top: 9.5vh;
}
    .menu-nav ul {
      display: flex;
      flex-direction: column-reverse;
    }
    .menu-nav li {
      margin-bottom: 5px;
    }
    .menu-nav ul li a{
      padding: 6vh 0vh;
      font-size: 3vh;
  }
  .bar{
    width: 100%;
    margin: 0vh;
}
#habilidades{
   padding: 0vh;
}
.bar p{
  text-align: center;
}
#cajas {
  padding: 2vh;
}
.caja {
  width: 100%;
  height: 40vh;
  padding: 1vh;
  margin-left: 0px;
  margin-bottom: 1vh;
}
  }