<body>
<header>
        <div class="menu-toggle" (click)="toggleMenu()">
			<div class="hamburger">
				<span></span>
			</div>
		</div>
        <h1><p>< / ></p><p>AGonzález</p></h1>
        <nav class="menu-nav" *ngIf="isOpen">
            <ul>
                <li (click)="navigateToSection('contacto')"><a >Contacto</a></li>
                <li (click)="navigateToSection('habilidades')"><a >Habilidades</a></li>
                <li (click)="navigateToSection('demo')"><a >Demo</a></li>
                <li (click)="navigateToSection('caja')"><a >Sobre mi</a></li>
                <li (click)="navigateToSection('slider')"><a >Inicio</a></li>
            </ul>
            <div class="clearfix"></div>
        </nav>
</header>
    <div id="slider">
        <span id="text"><p>{{ currentText }}</p></span>
        <img *ngFor="let image of images; let i = index"
       [src]="image"
       [ngClass]="{ 'scrolling-image': true, 'active': i === currentImageIndex }"
       alt="Imagen con desplazamiento vertical" />
    </div>
    <section id="cajas">
    <div class="caja">
        <p>Angular</p>
    </div>

    <div class="caja">
        <p>node</p>
        </div>
        <div class="caja">
            <p>React Native</p>
        </div>
        <div class="clearfix"></div>
    </section>
    <section id="habilidades">
        <div id="scrollHabilidades">
        <div class="bar">
            <p>Angular</p>
            <div id="myProgress">
                <div class="myBar"></div>
                </div>
        </div>
    
        <div class="bar">
            <p>Node</p>
            <div id="myProgress">
                <div class="myBar"></div>
                </div>
            </div>
            <div class="bar">
                <p>React Native</p>
                <div id="myProgress">
                <div class="myBar"></div>
                </div>
            </div>
            <div class="bar">
                <p>Mongodb</p>
                <div id="myProgress">
                <div class="myBar"></div>
                </div>
            </div>
            <div class="bar">
                <p>MYSQL</p>
                <div id="myProgress">
                <div class="myBar"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        </section>
        <section id="contacto">
          <h2>CONTACTO</h2>
            </section>
            <section id="demo" class="demo-section">
                <a href="https://main--democrudsite.netlify.app/inicio"  class="boton">Ir al enlace</a>
                  </section>
    <footer><p>copyright</p></footer>
</body>
