<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EfectosDiseno</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <header>
        <div class="menu-toggle" (click)="toggleMenu()">
			<div class="hamburger">
				<span></span>
			</div>
		</div>
        <h1><p>< / ></p><p>AGonzález</p></h1>
        <nav class="menu-nav" *ngIf="isOpen">
            <ul>
                <li ><a (click)="navigateToSection('contacto')">Contacto</a></li>
                <li ><a (click)="navigateToSection('habilidades')">Habilidades</a></li>
                <li ><a (click)="navigateToSection('demo')">Demo</a></li>
                <li ><a (click)="navigateToSection('cajas')">Sobre mi</a></li>
                <li ><a (click)="navigateToSection('slider')">Inicio</a></li>
            </ul>
            <div class="clearfix"></div>
        </nav>
    </header>
    <div id="slider">
        <img src="https://main--portafolioarturogg.netlify.app/portafolio/assets/img/progra.jpg" > 
    </div>
    <section id="cajas">
    <div id="scrollPortafolio">
    <div class="caja">
        <p>Angular</p>
    </div>

    <div class="caja">
        <p>node</p>
        </div>
        <div class="caja">
            <p>React Native</p>
        </div>
        <div class="clearfix"></div>
    </div>
    </section>
    <section id="habilidades">
        <div id="scrollHabilidades">
        <div class="bar">
            <p>Angular</p>
            <div id="myProgress">
                <div class="myBar"></div>
                </div>
        </div>
    
        <div class="bar">
            <p>Node</p>
            <div id="myProgress">
                <div class="myBar"></div>
                </div>
            </div>
            <div class="bar">
                <p>React Native</p>
                <div id="myProgress">
                <div class="myBar"></div>
                </div>
            </div>
            <div class="bar">
                <p>Mongodb</p>
                <div id="myProgress">
                <div class="myBar"></div>
                </div>
            </div>
            <div class="bar">
                <p>MYSQL</p>
                <div id="myProgress">
                <div class="myBar"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        </section>
        <section id="contacto">
          <h2>CONTACTO</h2>
            </section>
            <section id="demo" class="demo-section">
                <a href="https://main--democrudsite.netlify.app/inicio"  class="boton">Ir al enlace</a>
                  </section>
    <footer>copyright</footer>
</body>
</html>
