<body>
<header>
        <div class="menu-toggle" (click)="toggleMenu()">
			<div class="hamburger">
				<span></span>
			</div>
		</div>
        <h1><p>< / ></p><p>AGonzález</p></h1>
        <nav class="menu-nav" *ngIf="isOpen">
            <ul>
                <li (click)="navigateToSection('contacto')"><a >Contacto</a></li>
                <li (click)="navigateToSection('habilidades')"><a >Habilidades</a></li>
                <li (click)="navigateToSection('demo')"><a >Demo</a></li>
                <li (click)="navigateToSection('caja')"><a >Sobre mi</a></li>
                <li (click)="navigateToSection('slider')"><a >Inicio</a></li>
            </ul>
            <div class="clearfix"></div>
        </nav>
</header>
    <div id="slider">
        <div class="left">
            <span id="text"><p>{{ currentText }}</p></span>
        </div>
        <div class="right"><img *ngFor="let image of images; let i = index"
            [src]="image"
            [ngClass]="{ 'scrolling-image': true, 'active': i === currentImageIndex }"
            alt="Imagen con desplazamiento vertical" /></div>
        <!--<span id="text"><p>{{ currentText }}</p></span>
        <img *ngFor="let image of images; let i = index"
       [src]="image"
       [ngClass]="{ 'scrolling-image': true, 'active': i === currentImageIndex }"
       alt="Imagen con desplazamiento vertical" />-->
    </div>
    <section id="cajas">
    <div class="caja">
        <h3>Angular</h3>
        <p>Trabaje en una aplicacion web con modulos de control de inventario para medicinas como para articulos para las mascotas 
        ,agenda de citas.</p>
        <button class="button-caja" (click)="chaneproyectoimagenes(1)">Ver</button>
    </div>
    <section *ngIf="spanproyectos==1 && isOpen==false" id="imagenesProyecto">
        <h1>{{this.tituloTecnologia}}</h1>
        <img 
            [src]="imageseleccionada"
            alt="Imagen con desplazamiento vertical"
            style="width: 25%; height: 50vh;" />
    </section>
    <div class="caja">
        <h3>Node</h3>
        <p>Junto con express realice la APi que facilitan el manejo de información al momento de mostrar, insertar, actualizar y 
            borrar en la app para veterinarias.</p>
            <button class="button-caja" (click)="chaneproyectoimagenes(2)">Ver</button>
        </div>
        <section *ngIf="spanproyectos==2 && isOpen==false" id="imagenesProyecto">
            <h1>{{this.tituloTecnologia}}</h1>
            <img 
                [src]="imageseleccionada"
                alt="Imagen con desplazamiento vertical"
                style="width: 25%; height: 50vh;" />
        </section>
        <div class="caja">
            <h3>React Native</h3>
            <p>Desarrollo de aplicacion movil que conecta usuarios con veterinarias cercanas a su unicacion,control 
                de informacion de su mascota ,como seguimiento de citas.</p>
                <button class="button-caja" (click)="chaneproyectoimagenes(3)">Ver</button>
        </div>
        <section *ngIf="spanproyectos==3 && isOpen==false" id="imagenesProyecto">
            <h1>{{this.tituloTecnologia}}</h1>
            <img 
                [src]="imageseleccionada"
                alt="Imagen con desplazamiento vertical"
                style="width: 25%; height: 50vh;" />
        </section>
        <div class="caja">
            <h3>React + electronvite</h3>
            <p>Apartir de una aplicacion desarrollada para windows xp me pidieron hacerla una version mas actual evitando asi que trabajen
            desde una maquina virtual con xp,aplicacion con control de piezas,clientes,proveedores,facturas,grafico y piezas mas vendidas por mes y año,
            gracias a electron vite+sqlite se empaqueto en un ejecutable que se puede correr en las computaduras donde se monta la carpeta,gracias a one drive la BD en sqlite siempre esta actualizada</p>
            <button class="button-caja" (click)="chaneproyectoimagenes(4)">Ver</button>
        </div>
        <section *ngIf="spanproyectos==4 && isOpen==false" id="imagenesProyecto">
            <h1>{{this.tituloTecnologia}}</h1>
            <img 
                [src]="imageseleccionada"
                alt="Imagen con desplazamiento vertical"
                style="width: 25%; height: 50vh;" />
        </section>
        <div class="clearfix"></div>
        <section *ngIf="spanproyectos!==0 && isOpen==true" id="imagenesProyecto">
            <h1>{{this.tituloTecnologia}}</h1>
            <img 
                [src]="imageseleccionada"
                alt="Imagen con desplazamiento vertical"
                style="width: 25%; height: 50vh;" />
        </section>
    </section>
    <section id="habilidades">
        <div id="scrollHabilidades">
        <div class="bar">
            <p>Angular</p>
            <div id="myProgress">
                <div class="myBar"></div>
                </div>
        </div>
    
        <div class="bar">
            <p>Node</p>
            <div id="myProgress">
                <div class="myBar"></div>
                </div>
            </div>
            <div class="bar">
                <p>React Native</p>
                <div id="myProgress">
                <div class="myBar"></div>
                </div>
            </div>
            <div class="bar">
                <p>Mongodb</p>
                <div id="myProgress">
                <div class="myBar"></div>
                </div>
            </div>
            <div class="bar">
                <p>MYSQL</p>
                <div id="myProgress">
                <div class="myBar"></div>
                </div>
            </div>
            <div class="bar">
                <p>React</p>
                <div id="myProgress">
                <div class="myBar"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        </section>
        <section id="contacto">
          <h2>CONTACTO</h2>
            </section>
            <section id="demo" class="demo-section">
                <a href="https://main--democrudsite.netlify.app/inicio"  class="boton">Ir al enlace</a>
                  </section>
    <footer><p>copyright</p></footer>
</body>
