*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
 /*   font-family: Georgia, 'Times New Roman', Times, serif;*/
}
body{
    padding: 0px;
    margin: 0px;
    background-color: #F4F4F4;
    /*height: 650px;*/
}
html{
    overflow: hidden;
}